body{
    background-color: rgb(144, 158, 185);
}

.contenido{
   
 
    margin-left: 300px;
    margin-right:0px;
    flex-direction: row;
    margin-top: 100px;


   
}
.valida{
    margin-left: 100px;

}

.titulo{
    color: rgb(9, 9, 9);
    font-size: 30px;
}

.btn{
    background-color: bisque;
    margin-left: 10px;
    margin-top: 20px;
   
    
}

.error1{
   
    color: blue;
}

.botones{
    display: flex;
    margin-left: 100px;
}